$smoke-white: #f8f8f8;
$white-color: #fff;
$black-color: #000;
$black-pale: rgba(0, 0, 0, 0.2);
$white-pale: rgba(255, 255, 255, 0.2);

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-area {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flexCenter();
}

.container {
  position: relative;
  width: 35%;
  height: 95vh;
  background-color: $white-pale;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  margin: 1rem 0;
  @include flexCenter();

  .search {
    width: 300px;
    border-radius: 40px;
    padding: 0.5rem;
    border: 0;
    outline: none;
  }
}

.weth-title-area {
  width: 100%;
  height: 30vh;
  padding: 3rem 0;
  .weth-title {
    font-size: 1.5rem;
    color: $smoke-white;
  }
  .weth-temp {
    font-size: 7rem;
    color: $smoke-white;
  }
}
